image: python:3.12-slim

stages:
  - testing and code analysis
  # - deploy docs
  # - publish to PyPI

default:
  before_script:
    - python --version ; pip --version
    - apt-get update
    - apt-get upgrade -y
    - apt-get install -y git
    - pip install uv
    - uv sync --all-extras
    - source .venv/bin/activate

pytest-and-lint:
  stage: testing and code analysis
  script:
    - pytest -v tests
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'

# pages:
#   stage: deploy docs
#   script:
#     - cd docs
#     - sphinx-build -b html . ../public
#     - cd ..
#   artifacts:
#     paths:
#       - public
#   rules:
#     - if: '$CI_COMMIT_BRANCH == "main"'

# publish:
#   stage: publish to PyPI
#   script:
#     - uv pip install build twine
#     - python -m build
#     - twine upload dist/* -u "$PyPI_USERNAME" -p "$PyPI_PASSWORD"
#   rules:
#     - if: '$CI_COMMIT_BRANCH == "main"'